:root {
  --blancoPrincipal: #f3f6f5;
  --rosaPrincipal: #ffafcc;       /* Rosa suave, conserva el contraste */
  --doradoSuave: #fcd56b;         /* Dorado más claro y cálido */
  --cafePrincipal: #009879;       /* Verde esmeralda (nuevo color principal) */
  --cafeEspecial: #006e56;  


  --colorTexto: #006e56;



  --fuenteElegante: 'fuenteElegante';
  --fuenteRegular: 'fuenteRegular';
  --fuenteExpecialLustria: 'fuenteExpecialLustria';


  --txtSize1: 38px;
  --txtSize2: 28px;
  --txtSize3: 24px;
  --txtSize4: 20px;
  --txtSize5: 16px;

}

@font-face {
  font-family: 'fuenteElegante';
  src: url('./recursos/fuentes/DancingScript-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fuenteRegular';
  src: url('./recursos/fuentes/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fuenteExpecialLustria';
  src: url('./recursos/fuentes/Lustria-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
